.nav{
    display: flex;
    justify-content: space-between;
    background-color: #484848;
    padding: 1rem;
    color: white;
    align-items: center;
    position: sticky;
    top: 0%;
    box-shadow:  0px 4px 30px 5px rgba(0, 0, 0, 0.096);
}

.logo-name{
    color: rgb(255, 188, 3);
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    font-weight: 600;
    font-size: 24px;
}

.nav a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
    
}

.link{
    padding: 0rem 1rem;
}

.link:hover{
    color: orange;
}

.cred{
    display: flex;
    align-items: center;
}

.login{
    padding: 0.5rem 1rem;

}

.signup{
    padding: 0.5rem 1rem;
    border: 1px solid orange;
    border-radius: 5px;
}
.active{
    border-bottom: 2px solid orange;
    padding: 1rem;
}